@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Custom", "Index", "Custom", new { id = 5 }, null)
</div>
<div>
    @Html.ActionLink("Static", "Index", "Custom", new { id = "dog" }, null)
</div>