@model Task.Models.PersonInfoModel

@{
    ViewBag.Title = "Person info model";
}

@if (Model != null)
{
    <div>
        @{ 
            Html.RenderPartial("~/Views/Person/_ViewPersonInfo.cshtml", Model);
        }
    </div>
}
else
{
    <div>
        Such person is absent
    </div>
}

